<div class="grid">
    <div class="col-12">
        <div class="grid m-2">
            <div class="col-8">
            </div>
            <div class="col-4 justify-content-end text-right">
                <div class="grid">
                    <div class="col-6">
                        Agrupar por elementos seleccionados
                    </div>

                    <div class="col-6">
                        Filtro por Fecha
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grid m-2">
   
    <div class="col-5">
        <h3>Carteles</h3>
        <small class ="text-secondary text-small mb-2">Respuestas mas comunes al procesar cada elemento</small>
        
        <app-super-line-chart [data_grafica]="estadisticas_resultados_carteles" ></app-super-line-chart>
    </div>

    <div class="col-1">
        <p-divider layout="vertical"></p-divider>
    </div>
    <div class="col-5">
        <h3>Modelos (conteo de dispositivos)</h3>
        <small class ="text-secondary text-small mb-2">Diferencia entre dispositivos esperados y encontrados más común al procesar cada elemento</small>

        <app-super-line-chart [data_grafica]="estadisticas_resultados_conteo" [titulo]="'Diferencia más común entre dispositivos esperados y encontrados al procesar cada elemento'"></app-super-line-chart>

    </div>
     
    
    
</div>
