<div #barraMenu *ngIf="currentState !== '/login'">
  <div class="barra">
    <button class="image-container" (click)="volverAtras(true)">
      <img src="../../../assets/images/icono.png" alt="icono">
    </button>
    <div>
      <h1 class="titulo">
        Validación de Imagenes Vodafone {{(title!= undefined) ? (" - " + title ) : ''}} 
        <span class ='pi pi-{{icono}} ml-2 text-3xl' ></span>
      </h1>
    </div>
    <div *ngIf="currentState === '/gestionAuditorias'" class ="estadisticasSidebar" >        
      <app-sidebar></app-sidebar>
    </div> 
  </div>
  <div class="botonesVolverCerrarSesion">
    <div style="background: white;">
      <p-button *ngIf="currentState !== '/home' && currentState !== '/login'" [label]="contenidoBotonVolver" [icon]="iconoBotonVolver" (click)="volverAtras(false)" [text]="true" severity="danger" [style]="{'color': '#c30808'}" ></p-button>
    </div>
    <div class="usuarioBotonCerrarSesion">
      <p-button [label]="'Cerrar Sesión'" [icon]="'pi pi-lock'" (click)="navigateToLogin()" [text]="true" severity="danger" [style]="{'color': '#c30808'}"></p-button>
    </div>
  </div>
</div>





  