<div class="barraCompletaBotonVolver">
  <div class="barraCompleta">
    <button class="image-container" (click)="volverAtras(true)">
      <img src="../../../assets/images/icono.png" alt="icono">
    </button>
    <div>
      <h1 class="titulo">
        Validación de Imagenes Vodafone 
        {{tiendaSeleccionada?  getTiendaTitle() : ''}}
      </h1>
    </div>
    <div *ngIf="currentState === '/gestionAuditorias'" class ="elementosValidator" >        
      <app-sidebar></app-sidebar>
    </div> 
  </div>
  <div *ngIf="currentState != '/home'">
    <p-button [label]="contenidoBotonVolver" [icon]="iconoBotonVolver" (click)="volverAtras(false)" [text]="true" severity="danger"></p-button>
  </div>
</div>





  