.muebleSinAsignar {
    display: flex;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15); 
}

.muebleAsignado {
    display: flex;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.059);
    background-color: rgba(0, 0, 0, 0.059);
}

.imagenRepresentativaMueble {
    margin: 10px; 
    height: 70px;
    border-radius: 5px
}

.cambiarMuebles {
    display: grid;
    grid-template-rows: 90% 10%;
}

.botonEditarListaMuebles {
    display: flex;
    cursor: pointer;
    min-width: 200px;
    min-height: 80px;
    justify-content: end;
}