/* .paginaCompleta {
    display: grid;
    grid-template-columns: 70% 30%;
    height: 86vh;
    width: 100vw;
}
.planoBotonAñadirPosicionMueble{
    height: 100%;
    width: 100%;
}
.panelDerechoAsignarMueblesToolbar{
    display: grid;
    grid-template-rows: 10% 80%;
    justify-content: center;
    width: 100%;
}
.panelDerechoAsignarMueblesToolbar ::ng-deep .p-toolbar{
    padding: 0;
    height: 100%;
    width: 100%;
}
.toolbar {
    width: 100%;
    padding: 0;
} */

.scrollable-div {
    width: 100%; 
    height: 600px; 
    border: 1px solid #ccc;
    padding: 10px; 
    overflow: auto;
}

.muebleSinAsignar {
    display: flex;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15); 
    cursor: pointer;
}

.muebleAsignado {
    display: flex;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.059);
    background-color: rgba(0, 0, 0, 0.059);
}

.imagenRepresentativaMueble {
    margin: 10px; 
    height: 70px;
    border-radius: 5px
}

.cambiarMuebles {
    height: 100%;
    display: grid;
    grid-template-rows: 85% 15%;
}

.botonEditarListaMuebles {
    display: flex;
    min-width: 200px;
    min-height: 80px;
    justify-content: end;
}
::ng-deep .p-picklist-list{
    max-height: 300px;
}