<p-toast></p-toast>

<div style="display: flex;">
    <!-- Parte izquierda -->
    <div>
        <canvas id="canvas_plano"></canvas>
        <p-button icon="pi pi-times" styleClass="btn-eliminar" [ngStyle]="{position: 'absolute', display: 'none'}"></p-button>
        <p-button (click)="anadirRectangulo()" label="Añadir posición mueble" icon="pi pi-plus" severity="danger"></p-button>
    </div>
    <!-- Parte derecha -->
    <div style="margin-left: 15px; width: 50%">
        <p-toolbar>
            <p-button icon="pi pi-plus" severity="danger" label="Cambiar muebles"></p-button>
        </p-toolbar>
        <div *ngFor="let mueble of this.muebles">
            <div class="muebleSinAsignar" *ngIf="mueble.pertenencia_mueble_tienda[0].posiciones_muebles_tienda.length == 0"
                draggable="true"
                (dragstart)="onDragStart($event, mueble)"
                [attr.data-id]="mueble.id">
                <div *ngFor="let imagen of mueble.imagen_representativa">
                    <img [src]="this.urlService.url_imagenes_referencia + imagen.url" class="imagenRepresentativaMueble">
                </div>                
                <h3>{{ mueble.nombre }}</h3>
            </div>
            <div class="muebleAsignado" 
                *ngIf="mueble.pertenencia_mueble_tienda[0].posiciones_muebles_tienda.length != 0">
                <div *ngFor="let imagen of mueble.imagen_representativa">
                    <img [src]="this.urlService.url_imagenes_referencia + imagen.url" class="imagenRepresentativaMueble">
                </div>                
                <h3>{{ mueble.nombre }}</h3>
                <p-button icon="pi pi-times" [text]="true" severity="danger" [size]="'large'" (onClick)="eliminarPosicionMueble(mueble.pertenencia_mueble_tienda[0].posiciones_muebles_tienda[0].id)"></p-button>
            </div>
            <!-- <p-overlayPanel #op>
                <strong>{{mueble.nombre}}</strong>
                <div *ngFor="let imagen of mueble.imagen_representativa">
                    <img [src]="this.urlService.url_imagenes_referencia + imagen.url" class="imagenRepresentativaMueble">
                </div>
            </p-overlayPanel> -->
        </div>
    </div>
</div>
  
  