backend/node_modules
backend/.env
backend/prisma
backend/build

backend/.dockerignore
backend/docker-compose.debug.yml
backend/Dockerfile


.env
database
docker-compose.yml


frontend/node_modules

frontend/.angular
