
    <div #dropArea class="drop-area"   
        (dragover)="onDragOver($event)" 
        (dragleave)="onDragLeave($event)"  
        *ngIf="!archivoSeleccionado">
        <h2  #dragText>Arrastra y suelta imagenes</h2>
        <span>O</span>
        <p-button  (click)="seleccionarArchivo($event)" [outlined]="true" label="Seleccionar una imagen" severity="danger" ></p-button>
        <input #inputFile type="file" (change)="listenChange($event)" hidden>
    </div>
    <div *ngIf="isCargando()" class="drop-area ">
        <p-progressSpinner></p-progressSpinner>
    </div>