*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica", Helvetica, Arial, sans-serif;
}

.drop-area {
    border: 5px dashed #ddd;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.drop-area.active {
    background: #ddd;
    color: black;
    border: 2px dashed red;
}

.drop-area h2 {
    font-size: 100%; 
    color: #000;
}
.drop-area span {
    font-size: 80%;
    font-weight: 600;
    margin: 1%;
    color: #000
}
.drop-area button{
    padding: 5px 25px;
    font-size: 80%;
    border: 0;
    outline: none;
    background-color: #618ac9;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 1%;
}

.imagenSimple{
    height: 400px;
    width: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.delete-button {
    
    position: absolute;
    top: 60px;
    right: 32px;
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
}