
  <div class="flex align-items-center justify-content-center mt-4">
    <div class="flex-1">

      <app-asignarHuecos [imagen]="imagen"></app-asignarHuecos>
 
      <!-- <canvas id="canvas" width="800" height="600" (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)"></canvas>
      <br />
      <button (click)="clearRectangles()">Borrar rectángulos</button>
      <br />
      <button (click)="undoLastAction()">Deshacer</button>
      <br />
      <img id="target-image" hidden /> -->
    



    </div>   
    <div class="flex-1 m-2">
      <p-table [value]="huecos" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Hueco</th>
                <th>Categoria</th>
         
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-hueco let index>
            <tr>
                <td> index</td>
                <td> 
                  <p-dropdown class="ml-2" [options]="categorias_elementos" [(ngModel)]="categoriaSeleccionada"
                  optionLabel="nombre" [showClear]="true" placeholder="Filtrar por categoría"
                  [style]="{'margin-left': '20px'}"></p-dropdown>
                </td> 
            </tr>
        </ng-template>
    </p-table>
    </div>
  </div>

