

<div class="flex"  >
    <div  class="flex-1" >
      <!-- <canvas id="canvas" width="800" height="600" (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)"></canvas> -->
      <div style="display: flex; justify-content: center;" class ="mt-2">
        <canvas id="canvas" width="500%"  height="500%"></canvas>
      </div>
      <div style="display: flex; justify-content: center">
        <p-button (click)="anadirRectangulo()" [link]="true" label="Añadir elemento" [icon]="'pi pi-plus'"></p-button>
      </div>
      <div style="display: flex; justify-content: center">
        <p-button label="Empezar de nuevo" [link]="true" [icon]="'pi pi-times-circle'" (onClick)="clearRectangles()" ></p-button>
      </div>
      <div style="display: flex; justify-content: center">
        <p-button label="Deshacer" [link]="true" [icon]="'pi pi-replay'" (onClick)="undoLastAction()"></p-button>
      </div>
        <div>
        <img id="target-image" hidden />
      </div>
        
      
    </div>   
    <div  class="flex-1 ml-2 mt-2" >
      <p-table 
        [value]="atributos_expositor"  
        [scrollable]="true"
        [scrollHeight]="'calc(100vh - 300px )'"
        selectionMode="single"
        (onRowSelect)="HuecoSeleccionaoDeLaTablaChavalito($event)"        
      
      >
        <ng-template pTemplate="header">
            <tr>
              <th>Numero</th>
              <th>Categoria</th>
              <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-hueco>
            <tr  [pSelectableRow]="hueco">
                <td>{{ hueco.id }} </td>

                <td > 
                  <p-dropdown class="ml-2" [options]="categorias_elementos" [(ngModel)]="hueco.categorias_elementos"
                  optionLabel="nombre" [showClear]="true" placeholder="Filtrar por categoría"
                  [style]="{'margin-left': '20px', 'overflow': 'visible'}" (onChange)="onSelectElemento(hueco)" appendTo="body" ></p-dropdown>
                </td> 
                <td> <p-button label="Eliminar" [link]="true" [icon]="'pi pi-trash'" (onClick)="eliminarElemento(hueco)"></p-button></td>
            </tr>
        </ng-template>
    </p-table>
    </div>
  </div>

