p {
    font-family: Lato;
}
  
.button {

  font-size: 30px;
  text-align: center;
  border-radius: 50%;
  outline: none;
  background-color: #EF4444;
  color: white;
  cursor: pointer;
}
  