<div style="display: flex; align-items: center; flex-direction: column;">
  
    <app-barra-menu></app-barra-menu>

  <div *ngFor="let item of array_elementos" style="width: 80%; display: flex; flex-direction: column; justify-content: center;">
    <p-panel header="Elemento/mueble {{item}}" [style]="{'border': '1px solid black'}">
        <div style="display: flex; justify-content: center; width: 100%; margin-top: 0%; height: 550px;">
          <div style="display: flex; justify-content: left; width: 50%; background-color: rgba(210, 209, 209, 0.9);">

            <!-- <div *ngIf="unaFoto" *else="dosFotos">

            </div>

            <ng-template #dosFotos>
              <img src="https://picsum.photos/id/237/200/300" style="width: 100%;">
            </ng-template> -->
        
          </div>
      
          <div style="display: flex; justify-content: left; width: 50%; background-color: rgba(232, 232, 232, 0.9);">
            <!-- <div *ngIf="unaFoto" *else="dosFotos">

            </div>

            <ng-template #dosFotos>
              <img src="https://picsum.photos/id/237/200/300" style="width: 100%;">
            </ng-template> -->

          </div>
        </div>
      </p-panel>
    <div style="height: 4vh;"></div>
  </div>
</div>


 
