.paginaCompleta {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.barraCompleta {
  position: relative;
  width: 100%;
}
.barra{
  position: fixed;
  z-index: 5; 
  display: grid;
  grid-template-columns: 90% 10%;
  width: 100%;
  height: 100%;
  height: 80px;
}

.contornoPanel {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 750px;
}
.header{
  display: flex;
  width: 100%;
}

.custom-header {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  font-weight: bold;
  font-size: 20px;
  color: #534c4c;
  display: flex;
  width: 100%;
}

.spinner{
  margin-left:65%;
}

.panelCompleto{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0%;
  height: 550px;
  min-width: 550px;
}

.panelIzquierda {
  display: flex;
  justify-content: center;
  width: 50%;
  min-width: 380px;
  background-color: rgba(210, 209, 209, 0.9);
}
.panelDerecha{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-width: 380px;
  background-color: rgba(232, 232, 232, 0.9);
  overflow: visible;
}

.anchoAltoFotoReferencia {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
 
.imagenSimple{
  height: 90%;
  width: 90%;
  margin: 5%;
  display: flex;
  justify-content: center;
  margin: 5%;
}
.imagenDoble{
  width: 90%;
  margin: 5%;
}

::ng-deep .p-panel-content {
  padding: 0 !important;
}

.anchoAltoSubirFoto.ng-star-inserted {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.anchoAltoPaginador{
  height: 100%;
  width: 100%;
}

.gridDoble{
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  height: 100%;
  min-width: 369px;
}

