.paginaCompleta {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
 
.contornoPanel {
  width: 81%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 
.custom-header {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  font-weight: bold;
  font-size: 20px;
  color: #534c4c;
  display: flex;
}
.panelCompleto{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0%;
  height: 60%;
}

.panelIzquierda {
  display: flex;
  justify-content: center;
  width: 50%;
  background-color: rgba(210, 209, 209, 0.9);
}
.panelDerecha{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: rgba(232, 232, 232, 0.9);
}

.anchoAltoFotoReferencia {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
 
.anchoAltoSubirFotos {
  width: 90%;
  height: 90%;
}
.imagenSimple{
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.imagenDoble{
  width: 100%;
  margin-right: 5%;

}

