<div class="paginaCompleta">
  <app-barra-menu></app-barra-menu>
  <div *ngFor="let item of array_elementos" ngClass="contornoPanel">
    <p-panel header="Elemento/mueble {{item}}" [style]="{'border': '1px solid black', 'margin-bottom': '20px'}">
        <div class="panelCompleto">
          <div class="panelIzquierda">
            <!-- <div *ngIf="unaFoto" *else="dosFotos">
            </div>
            <ng-template #dosFotos>
              <img src="https://picsum.photos/id/237/200/300" style="width: 100%;">
            </ng-template> -->
          </div>
          <div class="panelDerecha">
            <app-selector-imagenes class="anchoAltoSubirFotos"></app-selector-imagenes>
          </div>
        </div>
      </p-panel>
  </div>
</div>


 
