<div class="paginaCompleta">
  <app-barra-menu></app-barra-menu>
  <div *ngFor="let item of tienda.muebles" ngClass="contornoPanel">
    <p-panel header="Elemento/mueble {{item.id_mueble}}" [style]="{'border': '1px solid black', 'margin-bottom': '20px'}">
        <div class="panelCompleto">
         
          <div class="panelIzquierda" >
            <div *ngIf="item.expositores.length == 1 else dosFotos" class="anchoAltoSubirFotos" >
                <img [src]="'http://localhost:3000/imagenesReferencia/' + item.expositores[0].imagenes.url" [alt]="item.expositores[0].imagenes.url" class="imagenSimple">
            </div>
            <ng-template #dosFotos>

              <div class="grid anchoAltoSubirFotos">
                <div class="col-6">
                  <img [src]="'http://localhost:3000/imagenesReferencia/' + item.expositores[0].imagenes.url" [alt]="item.expositores[0].imagenes.url" class="imagenDoble">
                </div>
                <div class="col-6">
                  <img [src]="'http://localhost:3000/imagenesReferencia/' + item.expositores[1].imagenes.url" [alt]="item.expositores[1].imagenes.url" class="imagenDoble">
                </div>
              </div>
              
            </ng-template> 
          </div>
          <div class="panelDerecha">
            <div *ngIf="item.expositores.length == 1 else subir2Fotos" >
              
            </div>
            <ng-template #subir2Fotos>
            
            </ng-template> 
           
          </div>
        </div>
      </p-panel>
  </div>
</div>
 
 