

  <p-table 
  #miTabla
  class="table"
  [value]="expositores"
  [paginator]="true"
  [rows]="10"
  [scrollable]="true"
  [scrollHeight]="'calc(100vh - 380px )'"
  paginatorStyleClass="background-color: rgba(232, 232, 232, 0.9);"
  [showCurrentPageReport]="true"
  [tableStyle]="{ 'min-width': '50rem' }"
  currentPageReportTemplate="Enseñando {first} de {last} de en total {totalRecords} muebles"
  [rowsPerPageOptions]="[10, 25, 50]"
  [globalFilterFields]="['nombre' ]"
  >

<ng-template pTemplate="header">
    <tr>
      <!-- <th style="width: 4rem" class="white-space-nowrap overflow-hidden text-overflow-ellipsis">
        {{selected_expositores.length>0?selected_expositores.length + ' seleccionado/s' :""}}
      </th> -->
      <th  pSortableColumn="nombre">  Expositor  <p-sortIcon field="nombre"></p-sortIcon></th>
      <th> </th>

    </tr>

    <tr>
      <th>
          <p-columnFilter type="text" field="nombre"></p-columnFilter>
      </th>
      <th></th>
    </tr>
</ng-template>
<ng-template pTemplate="body" let-expositor>
    
    <tr  [pSelectableRow]="expositor">
      
      <!-- <td>
        <p-tableCheckbox [value]="expositor"></p-tableCheckbox>
      </td> -->

      <td>{{ expositor.nombre==null? "Sin nombre " : expositor.nombre }}</td>
      <td>
        <p-image class ="imagenSimple" [src]="url_imagenes_referencias + expositor.imagenes.url"  height="100vh"  [alt]="expositor.imagenes.url"  [preview]="true"></p-image>
      </td>
 
    </tr>
    
</ng-template>

<ng-template pTemplate="emptymessage">
    <tr>
        <td colspan="3">No hay Expositores</td>
    </tr>
</ng-template>

</p-table>