<p-steps [model]="steps" [(activeIndex)]="activeIndex" [readonly]="true"></p-steps>
<p-scrollPanel [style]="{'height':'calc(100vh - 300px )'}">

  <div class="flex flex-column" *ngIf="activeIndex == 0">
    <app-Paso1Form (formularioPaso1Change)="onFormularioPaso1Change($event)" [imagenesIn]="this.imagenes_iniciales"
      [nombreIn]="mueble_existente? mueble_existente.nombre: undefined"></app-Paso1Form>
  </div>
  <div *ngIf="activeIndex > 0">
    <div *ngFor="let imagen of formularioPaso1.value.imagenes; let i = index">

      <div *ngIf="activeIndexIsPair()">
        <app-PasoHuecosForm [imagen]="imagen"></app-PasoHuecosForm>
      </div>

      <div *ngIf="!activeIndexIsPair()">
        <app-PasoAsignarElementoForm [imagen]="imagen"></app-PasoAsignarElementoForm>
      </div>
    </div>

  </div>

</p-scrollPanel>


<footer>
  <div class="flex align-items-center justify-content-center mt-2">
    <p-button label="volver" icon="pi pi-arrow-left" class="m-2" severity="danger" [disabled]="activeIndex == 0"
      (onClick)="activeIndex= activeIndex - 1"></p-button>
    <p-button [label]="activeIndex+1 == step_count ? 'Guardar' : 'siguiente'" icon="pi pi-arrow-right" class="m-2"
      severity="danger" [disabled]="isValidNextStep"
      (onClick)="activeIndex+1 == step_count? onSubmit() :activeIndex= activeIndex +1">
    </p-button>
  </div>

</footer>


<!-- 
    <div class="flex align-items-center justify-content-center mt-2" *ngIf="showingExpositoresIsFalse()">
  
      <p-button type="submit" severity="danger" [icon]="'pi pi-check'" [label]="'Guardar'" (onClick)="onSubmit()">
      </p-button>
  
    </div>
   -->