

  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <div class="flex flex-column" *ngIf="!showing_asignar_expositores">
     
        <div class="flex align-items-center justify-content-center mt-4">
          <p-card [style]="{'width':'130vh'}" header="Nombre*">
            <!-- <span class="p-float-label"> -->
              <input type="text" formControlName="nombre" pInputText class="w-full">
              <!-- <label >Nombre * </label>
            </span> -->
            <small *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="block p-error">
              <div *ngIf="nombre.errors?.['required']">El nombre es obligatorio.</div>
              <!-- <div *ngIf="nombre_mueble.errors?.['maxlength']">El nombre debe tener como máximo 50 caracteres.</div> -->
            </small>
        </p-card>
        </div>
  

      <div class="flex align-items-center justify-content-center mt-4">
        <p-card [style]="{'width':'130vh '}" header="Subir modelo">
            <div class="flex">

              <div class= "flex-1 m-2" style=" width: 45%; margin-left: 20px; height: 47vh; overflow: hidden;">
                <app-selector-imagenes 
                
                    [cargando_procesado]="true">
                </app-selector-imagenes>
              </div>
        
                <!-- <p-button severity="danger" [text]="true" [raised]="true" (onClick)="showExpositores(2)" label="Asignar Elemento" ></p-button>
                <p-button severity="danger" class="ml-2" [text]="true" [raised]="true" (onClick)="createExpositores(2)" label="Crear Elemento" ></p-button> -->
         

              <div class="flex-1 m-2" >
                    <p-toolbar>
                    
                      <div class="p-toolbar-group-start">
                        <span class="p-input-icon-left" style="margin-left: 20px">
                          <i class="pi pi-search"></i>
                          <input pInputText type="text"  (input)="filterByNombre(filterNameValue)"  [value]="filterNameValue"   placeholder="Filtrar por nombre" /> 
                      </span>
          
                      <!-- <p-dropdown  [options]="opcionesCategoria" (onChange)="cambiarOpcionBusqueda($event)" [(ngModel)]="categoriaSeleccionada" optionLabel="estado" [showClear]="true" placeholder="Estado del catalogo" [style] = "{'margin-left': '20px'}" ></p-dropdown> -->
                      <p-dropdown class="ml-2"></p-dropdown>
                      </div>        
                    </p-toolbar>

                      <p-scrollPanel [style]="{ width: '100%', height: '37vh' }" >
                        <div *ngFor="let elemento of filtered_elementos" class="p-2 shadow-2 border-round mb-3">
                          <div class="flex align-items-center gap-2" pDraggable="elemento" (onDragStart)="onDragStart($event, elemento)" (onDragEnd)="onDragEnd($event)">
                            <img class="border-round" [src]="url_imagenes_referencias + elemento.imagenes.url" alt="{{elemento.imagenes.url}}" style="width: 64px; height: 64px; object-fit: cover;">
                            <div class="flex flex-column flex-1 gap-1">
                              <span class="font-bold">{{ elemento.nombre }}</span>
                              <div class="flex align-items-center gap-1">
                                <i class="pi pi-tag text-sm"></i>
                                <span>{{ elemento.categorias_elementos.nombre }}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                      </p-scrollPanel>
                  
              </div>
          </div>

        </p-card> 
          
      </div>
     
      <!-- <div class="flex align-items-center justify-content-center mt-2">
        <p-card [style]="{'width':'100vh'}" header="Carteles">
          <div class="grid">
            <div class="col-12">
          
              <div class="p-toolbar-group-start">
                <p-button severity="danger" [text]="true" [raised]="true" (onClick)="showExpositores(1)" label="asignar expositor" ></p-button>
                <p-button severity="danger" class="ml-2" [text]="true" [raised]="true" (onClick)="createExpositores(1)" label="crear expositor" ></p-button>

              </div>
              <div class="p-toolbar-group-end">
                
              </div>
    
          </div>
         </div>

      </p-card> 
          
      </div> -->

    
    

  </div>

  <!-- <div *ngIf="!showing_asignar_expositores && showing_crear_expositores ">
    <p-button severity="danger" [text]="true" [raised]="true" (onClick)="showing_crear_expositores = false" label="volver" ></p-button>
   < <app-nuevo-elemento [categoriaPredefinida]="new_expositor_for_categoria " ></app-nuevo-elemento>
  </div>

  <div *ngIf="showing_asignar_expositores && !showing_crear_expositores ">
    <div *ngIf ="all_expositores.length==0">
      <p-progressSpinner></p-progressSpinner>
    </div>
    <div *ngIf ="all_expositores.length > 0 " >
      <app-asignarExpositor [all_expositores]="all_expositores" [already_selected_expositores]="expositores.value" (expositores_selected)="asignar_expositores($event)"></app-asignarExpositor>
     </div>
  </div>

  <div *ngIf="!showing_asignar_expositores && showing_crear_expositores ">

  
  </div> -->

  <div class ="flex align-items-center justify-content-center mt-2" *ngIf="!showing_asignar_expositores">
   
    <p-button  type="submit"  severity="danger" [icon]="'pi pi-check'" [label]="'Guardar'"  (onClick)="onSubmit()">    </p-button>
 
  </div>
    

</form>
 
