<p-card>
  <div class="formgrid grid mt-2">
    <div class="field col-12 md:col-6">
      <span class="p-float-label">
        <input type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        <label >Nombre </label>
      </span>
    </div>
    <div class="field col-12 md:col-6">
      <span class="p-float-label">
        <input  type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        <label >Lastname</label>
      </span>
    </div>
  </div>
 
</p-card>