.formularioICIUG {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 2%;
}
.resumentNuevaTienda{
    display: grid;
    grid-template-columns:40% 60%;
    margin: 0;
}
.botonesAtrasSiguiente {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    width: 100%;
}
.contenedorMuebleArrastras{
    display: grid;
    grid-template-columns: 40% 60%;
}

:host ::ng-deep .p-dialog-header {
    padding: 0;
    padding-top: 1%;
    padding-right: 1%;
}

:host ::ng-deep .p-togglebutton.p-button.p-highlight{
    background-color: red;
    background: red;
    border-color: red;
}