.terminarAuditoria{
  display: grid;
  grid-template-columns: 40% 40% 20%;
}
.irArriba{
  display: flex;
  justify-content: center;
  align-items: center;
}
.informe{
  display: grid;
  grid-template-rows: 50% 50%;

}

