<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

<div style="display: flex">
    <div style="margin-right: 5%; text-align: end;">
        Progreso:
        <td>{{ auditoria_seleccionada?.num_expositores_procesados }}/{{ auditoria_seleccionada?.num_expositores }}</td>
    </div>
    <div>
        Barra de progreso:
        <app-barra-de-barras [datos_barras]="this.datos_barra_progreso"></app-barra-de-barras>
    </div>
    <div>
        <p-button
            *ngIf="this.auditoria_seleccionada?.estados_auditoria?.estado == 'en progreso'"
            (click)="terminarAuditoria()"
            [severity]="'danger'"
            label="Terminar auditoria"
        ></p-button>
    </div>
</div>