
<div style="display: flex">
    <div>
        Progreso:
        <td>{{ auditoria_seleccionada?.num_expositores_procesados }}/{{ auditoria_seleccionada?.num_expositores }}</td>
    </div>
    <!-- <div class="bar-container" style="display: flex; height: 20px;">
        Barra de progreso:
        <div *ngFor="let bar of bars"
            [style.background-color]="bar.color"
            [style.width]="bar.width + '%'"
            style="height: 100%;">
        </div>
    </div> -->
    <div>
        
    </div>
</div>