

.panel{

    
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    

}


:host ::ng-deep .p-dialog .product-image {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
}