

.panel{

    
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    

}


:host ::ng-deep .p-dialog .product-image {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
}

.contornoPanel {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 750px;
  }

  :host::ng-deep {
    .p-button.p-highlight.optionColorVodafone {
       background: red;
       border: rgb(87, 11, 11);
    }
}