 
<p-panel header="Expositores" [style]="{width: '70%', margin: '0 auto'}">
    <p-table [value]="expositores" selectionMode="single" [style] = "{'width':'100%'}" [(selection)]="expositorSeleccionado" [rows]="40">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>id_imagen</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-expositor>
            <tr>
                <td>{{ expositor.id_expositor }}</td>
                <td>{{ expositor.id_imagen }}</td>
                <td>{{ expositor.nombre }}</td>
                
            </tr>
        </ng-template>
    </p-table>
</p-panel>