 
.paginaCompleta {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.card {
  width: 60%; /* Ancho de la tarjeta */
  height: 200px; /* Alto de la tarjeta */
  margin-top: 25px; /* Distancia entre las tarjetas */
}

.botonNuevaAuditoria {
    width: 60%; /* Ancho de la tarjeta */
    height: 200px; /* Alto de la tarjeta */
    margin-top: 25px; /* Distancia entre las tarjetas */
}