<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<div class="paginaCompleta">

    <p-toolbar class ="toolClass">
        <p-dropdown 
            [options]="tiendas" 
            [(ngModel)]="tiendaSeleccionada"
            (ngModelChange)="onTiendaSelected()"
            optionLabel="sfid" 
            [showClear]="true" 
            placeholder="Selecciona tu tienda"
            class="dropdown">
        </p-dropdown>
        <div class="p-toolbar-group-start">
            <p-button severity="danger" class="marginRight" label="Auditoría global" icon="pi pi-plus" (onClick)="crearAuditoriaGlobal()"></p-button>
            <p-button severity="danger" class="marginRight" label="Auditoría en esta tienda" icon="pi pi-plus" (onClick)="nuevaAuditoria()" [disabled]="tiendaSeleccionada == undefined"></p-button>
        </div>        
    </p-toolbar>
   
    <p-table 
        #miTabla
        class="table"
        [value]="this.auditorias"
        [paginator]="true"
        [rows]="5"
        [scrollable]="true"
        [scrollHeight]="'calc(100vh - 204px)'"  
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Enseñando {first} de {last} de en total {totalRecords} muebles"
        [rowsPerPageOptions]="[10, 25, 50]"
    >
        <ng-template pTemplate="caption" >
            <div style="display: flex; justify-content: space-between">
                <h2> Auditorias</h2>
                <p-progressSpinner 
                    *ngIf="this.cargando_auditorias"
                    styleClass="w-4rem h-4rem" 
                    strokeWidth="5" 
                    fill="var(--surface-ground)" 
                    animationDuration=".5s"
                ></p-progressSpinner>
            </div>            
        </ng-template>
        <ng-template pTemplate="header">
            <tr>             
                <th>Id</th>
                <th>SFID</th>
                <th>Fecha inicio</th>
                <th>Estado</th> 
                <th>Progreso</th>
                <th>Prog. visual</th>
                <th>Opciones</th>
                <th>Enviar informe</th>
                <th>Descargar informe</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-auditoria>            
            <tr>              
                <td>{{ auditoria.id }}</td>    
                <td>{{ auditoria.tiendas.sfid }}</td>            
                <td>{{ formatDate(auditoria.fecha) }}</td>
                <td>
                    <p-tag [severity]="getSeverityEstadoAuditoria(auditoria.estados_auditoria.estado)">{{ auditoria.estados_auditoria.estado }}</p-tag>                    
                </td>               
                <td>{{ auditoria.num_expositores_procesados }}/{{ auditoria.num_expositores }}</td>
                <td>
                    <app-barra-de-barras [datos_barras]="auditoria.datos_barra_progreso"></app-barra-de-barras>
                </td>
                <td class="opciones">         
                    <p-button class ="smallMarginRight" severity="danger" [raised]="true" [text]="true" [rounded]="true" label="Ir auditoría" icon="pi pi-pencil"  (click)="goToAuditoria(auditoria)"></p-button>                    
                </td>
                <td>
                    <p-button label="Enviar" icon="pi pi-envelope" severity="danger" [text]="true" [raised]="true" [rounded]="true" (click)="enviarInforme(auditoria.id)" [disabled]="auditoria.estados_auditoria.estado === 'en progreso'"></p-button>
                </td>
                <td>
                    <p-button label="Descargar" icon="pi pi-download" severity="danger" [text]="true" [raised]="true" [rounded]="true" (click)="descargarInforme(auditoria.id)" [disabled]="auditoria.estados_auditoria.estado === 'en progreso'"></p-button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="3">Todavía no hay auditorías en esta tienda</td>
            </tr>
        </ng-template>
    </p-table>
</div>
