
<p-toast></p-toast>
<!-- <app-ir-arriba></app-ir-arriba> -->
<div class="paginaCompleta">

    
<p-toolbar class ="toolClass">
    <div class="p-toolbar-group-start">
        <p-button severity="danger" class="marginRight" label="Nuevo" icon="pi pi-plus" ></p-button>
        <p-button severity="danger" label="Editar" icon="pi pi-pencil" ></p-button>
    </div>
    <div class="p-toolbar-group-center">
        <div >
            <p-selectButton (onChange)="cambiarTabla()" [allowEmpty]="false" [options]="tableStateOption" [(ngModel)]="tableSelected" optionLabel="label" optionValue="value"></p-selectButton>
        </div>
    </div>
    <div class="p-toolbar-group-end">
      <div></div>
    </div>
</p-toolbar>
   

   
        <p-table 
        #miTabla
        class="table"
        [value]=" tableSelected === 'dispositivos' ? mueblesDispostivos : mueblesCarteles"
        [paginator]="true"
        [rows]="10"
        [scrollable]="true"
        [scrollHeight]="'calc(100vh - 204px)'"
        selectionMode="single" 
        [(selection)]="selectedMueble"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Enseñando {first} de {last} de en total {totalRecords} muebles"
        [rowsPerPageOptions]="[10, 25, 50]"
    >
        <ng-template pTemplate="header">
            <tr>
                <th [ngStyle]="{ 'width': tableSelected === 'dispositivos' ? '70%' : '40%' }">Expositor</th>
            <th style="width:20%">Nombre</th>
            <th *ngIf="tableSelected === 'dispositivos'" style="width:10%">Número de dispositivos</th> 
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-mueble>
            <tr>
                <td class="expositores-container">
                    <div *ngFor="let expositor of mueble.expositores" class="expositor-item">
                        <p-image class ="imagenSimple" [src]="url_imagenes_referencias + expositor.imagenes.url" width="100" height="50%"  [alt]="expositor.imagenes.url"  [preview]="true"></p-image>
                    </div>
                    <div *ngIf="mueble.expositores.length < 1">Sin Expositor</div>
                </td>
                <td>{{ mueble.nombre_mueble }}</td>
                <td *ngIf="tableSelected === 'dispositivos'">{{ mueble.numero_dispositivos }}</td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="3">No hay muebles</td>
            </tr>
        </ng-template>
        
    </p-table>

    

</div>
