.imagenSimple{

 margin-left: 10%;
}

.paginaCompleta {
    width: 100%; 
    display: flex;
 
    flex-direction: column;
}

.table{
    margin-left: 10%;
    margin-right: 10%;
 
}
.selectButton{
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

:host::ng-deep {
    .p-button.p-highlight.optionColorVodafone {
       background: red;
       border: rgb(87, 11, 11);
    }
}