<div class="gridHistorial" *ngFor="let item of getElementosPaginados()">
    <div  class="imagenProcesadaComentarios">
        <div class="anchoAltoImagenProcesada">
            <p-image [src]="url_imagenes_procesadas + item.imagenes.url" alt="Vista previa de la imagen seleccionada" [preview]="true" [imageStyle]="{'width': '100%', 'height': '100%'}" ></p-image>
            <app-dialog-informacion-procesado [procesado]="item" class="posicionDialog"></app-dialog-informacion-procesado>
        </div>
    </div>
    <div class="respuestaProcesado">
        <p-button icon="pi pi-info-circle" [rounded]="true" [text]="true" severity="danger " ></p-button>
        <p-button [icon]="(item.feedback_humano === null || item.feedback_humano === false) ? 'pi pi-thumbs-up' : 'pi pi-thumbs-up-fill'" (click)="funcionFeedback(item, true)"  [text]="true" severity="danger"></p-button>
        <p-button [icon]="(item.feedback_humano === null || item.feedback_humano === true) ? 'pi pi-thumbs-down' : 'pi pi-thumbs-down-fill'" (click)="funcionFeedback(item, false)" [text]="true" severity="danger"></p-button>
        <p-button icon="pi pi-trash" (click)="confirmarDelete($event, item)" [rounded]="true" [text]="true" severity="danger" [style]="{'padding': '0'}"></p-button>
    </div>
</div>