<div *ngFor="let item of getElementosPaginados()" [ngClass]="{'gridHistorial': auditoria_seleccionada?.estados_auditoria?.estado === 'en progreso', 'gridHistorialFinalizado': auditoria_seleccionada?.estados_auditoria?.estado !== 'en progreso'}">
    <div class="imagenProcesadaGaleria">
        <div class="anchoAltoImagenProcesada">
            <p-galleria 
            [value]="procesados"  [numVisible]="5" [circular]="true" [showItemNavigators]="verFlechasIndicadorGaleria()" [showThumbnails]="false" 
            [responsiveOptions]="responsiveOptions"
            [(activeIndex)]="posicionGaleria"
            [containerStyle]="{'width': '100%', 'height': '100%'}" 
            [style]="{'width': '100%', 'height': '100%'}"
            [showIndicators]="verFlechasIndicadorGaleria()"
            >
                <ng-template pTemplate="item" let-item>
                    <p-image [src]="url_imagenes_procesadas + item.imagenes.url" alt="Vista previa de la imagen seleccionada" [preview]="true" [imageStyle]="{'width': 'auto', 'height': 'auto', 'max-height': '100%', 'max-width': '100%'}" class="imagenProcesadaDentroGaleria"></p-image>
                </ng-template>
            </p-galleria>
            <app-dialog-informacion-procesado [procesado]="procesados" [posicionGaleria]="posicionGaleria" class="posicionDialog"></app-dialog-informacion-procesado> 
        </div>
    </div>
</div>