/* Estilo global */
.linea-horizontal {
    border-bottom: solid 1px rgb(255, 0, 0); /* Cambia el color a tu preferencia */
    display: block;
    margin: auto;
    
    margin-top: 20px; 
    width: 80%;
  }

  