 
<p-dialog 
    [(visible)]="mostrar"
    [style]="{height: '45%', width: '40%'  }" 
    header="Crear un nuevo expositor" 
    [modal]="true" 
    [closable]="true" 
    [draggable]="false" 
    [resizable]="false" 
    styleClass="p-fluid"
    [closeOnEscape] = "false"
    (onHide)="onDialogHidden()"
    > 
    
    <ng-template pTemplate="content" style="display:flex; flex-direction: column; width: 10000px; height: 4000px">
        <p-toast position="top-center" key="tc"></p-toast>
        <div style="display: flex; flex-direction: row; width: 100%" height="100%">
            <form [formGroup]="nuevoExpositor_form" style="width: 50%">
                <input type="text" pInputText pKeyFilter="int" placeholder="Nombre del expositor" [formControlName]="'nombre'" style="margin-top: 10px;"/>
                <p-dropdown name="id_region" [options]="Dropdown_regiones" value="#id_region" [placeholder]="'Seleccione región'" [formControlName]="'id_region'" [style]="{marginTop: '10px'}" ></p-dropdown>
                <p-dropdown name="categoria" [options]="Dropdown_categorias" value="#categoria" [placeholder]="'Seleccione categoria'" [formControlName]="'categoria'" [style]="{marginTop: '10px'}" ></p-dropdown>
            
                <div *ngIf="categoria?.value == 'Dispositivos'" style="margin-top: 10px;">
                    <p-inputNumber id="numero_dispositivos" [formControlName]="'numero_dispositivos'" [style.width]="'9rem'" [showButtons]="true" 
                       buttonLayout="horizontal" spinnerMode="horizontal" decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary" 
                       incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" >
                    </p-inputNumber>
                    <label for="numero_dispositivos" style="margin-left: 10px;">Número de dispositivos</label>
                </div>

 
                <small class="p-error" *ngIf="submitted && nuevoExpositor.nombre==''">Han de rellenarse todos los campos.</small>
            </form>
            <div style="width: 50%; margin-left: 20px; height: 300px; overflow: hidden;">
                <app-selector-imagenes 
                    (archivoSeleccionadoChange)="recibirFile($event)"
                    [cargando_procesado]="cargando_procesamiento">
                </app-selector-imagenes>
            </div>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="nuevoCancelar()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="nuevoGuardar()"></button>
    </ng-template>

</p-dialog>