<div class="mb-4">
    <p-toolbar class ="toolClass">
      <div class="p-toolbar-group-start">
        <p-button severity="danger" icon="pi pi-arrow-left" [text]="true" [raised]="true" (onClick)="volver()" label="volver" ></p-button>
        <p-button severity="danger" [disabled]="selected_expositores.length<=0" icon="pi pi-plus-circle" class="ml-2" (onClick)="volver()"  label="Asignar" ></p-button>
      </div>
      <div class="p-toolbar-group-center">
        <p class="p-m-0 text-2xl ml-3"> Expositores</p>
      </div>
      <div class="p-toolbar-group-end">
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" [(ngModel)]="nombreFiltro" (input)="filtrarPorNombre()"    placeholder="Filtrar por nombre" /> 
        </span>
      </div>
    </p-toolbar>
</div>


  <p-table 
  #miTabla
  class="table"
  [value]="all_expositores_filtrados"
  [paginator]="true"
  [rows]="10"
  [scrollable]="true"
  [scrollHeight]="'calc(100vh - 350px )'"
  [(selection)] = "selected_expositores"
  paginatorStyleClass="background-color: rgba(232, 232, 232, 0.9);"
  [showCurrentPageReport]="true"
  [tableStyle]="{ 'min-width': '50rem' }"
  currentPageReportTemplate="Enseñando {first} de {last} de en total {totalRecords} muebles"
  [rowsPerPageOptions]="[10, 25, 50]"
  [globalFilterFields]="['nombre' ]"
  >

<ng-template pTemplate="header">
    <tr>
      <th style="width: 4rem" class="white-space-nowrap overflow-hidden text-overflow-ellipsis">
        {{selected_expositores.length>0?selected_expositores.length + ' seleccionado/s' :""}}
      </th>
      <th  pSortableColumn="nombre">  Expositor  <p-sortIcon field="nombre"></p-sortIcon></th>
      <th> </th>

    </tr>
</ng-template>
<ng-template pTemplate="body" let-expositor>
    
    <tr>
      
      <td>
        <p-tableCheckbox [value]="expositor"></p-tableCheckbox>
      </td>

      <td>{{ expositor.nombre==null? "Sin nombre " : expositor.nombre }}</td>
      <td>
        <p-image class ="imagenSimple" [src]="url_imagenes_referencias + expositor.imagenes.url"  height="100vh"  [alt]="expositor.imagenes.url"  [preview]="true"></p-image>
      </td>
 
    </tr>
</ng-template>

<ng-template pTemplate="emptymessage">
    <tr>
        <td colspan="3">No hay Expositores</td>
    </tr>
</ng-template>

</p-table>