.cursor-pointer ::ng-deep .p-button {
    cursor: pointer;
    height: 30px;
    margin-top: 20%;
}
.evaluacion {
    display: grid;
    grid-template-columns: 45% 10% 10%;
    align-items: center;
}

.evaluacion ::ng-deep h4 {
    margin: 0;
}

.overleyPanel {
    margin: 0;
}