.cursor-pointer {
    cursor: pointer;
}

.tag-container {
    position: absolute;
    top: 5%;
    right: 1%;
    transition: transform 0.3s ease;
}

.tag-container:hover {
    transform: scale(1.1);
    transform-origin: top right;
}
