
<div class="tag-container"  (mouseover)="open.toggle($event)" (mouseout)="onMouseOut($event)">
    <p-tag *ngIf="procesado.categoria === 'carteles'" 
        class = "cursor-pointer "
        icon="pi pi-info-circle" 
        value="{{procesado.probabilidad_cartel}}"
        [severity]="getSeverityCartel(procesado.probabilidad_cartel)" 
    ></p-tag>
    <p-tag *ngIf="procesado.categoria === 'dispositivos'" 
        class = "cursor-pointer "
        icon="pi pi-info-circle"
        value="{{procesado.dispositivos_contados}}/{{procesado.huecos_esperados}}"
        [severity]="getSeverityDispositivos(procesado.dispositivos_contados, procesado.huecos_esperados)" 
    ></p-tag>     
</div>
<p-overlayPanel #open [showCloseIcon]="false" [style]="{width: '20vw'}">
    <div *ngIf="procesado.categoria === 'carteles'">
        <span style="font-weight: bold;">· Probabilidad: </span>  
        <p-tag [severity]="getSeverityCartel(procesado.probabilidad_cartel)" >
            {{procesado.probabilidad_cartel}}
        </p-tag>
    </div>
    <div *ngIf="procesado.categoria === 'dispositivos'">
        <span style="font-weight: bold;">· Encontrados: </span>           
        <p-tag [severity]="getSeverityDispositivos(procesado.dispositivos_contados, procesado.huecos_esperados)" >
            {{procesado.dispositivos_contados}}/{{procesado.huecos_esperados}}
        </p-tag>
    </div>
    <h4>Comentarios: </h4> 
    <span >{{this.procesado.comentarios}}</span>
    <h4>· IA Utilizada: </h4><span >{{this.procesado.IA_utilizada}}</span>
    <h4>· Prompt utilizado: </h4><span >{{this.procesado.prompts.nombre_prompt}}</span>
    <h4>· Fecha: </h4><span >{{ this.procesado.fecha | date:'dd-MM-yyyy | HH:mm' }}</span>
</p-overlayPanel>