<p-tag *ngIf="procesado.respuestas_carteles.length>0" 
    class = "cursor-pointer "
    icon="pi pi-info-circle" 
    value="{{procesado.respuestas_carteles[0].probabilidad}}"
    [severity]="getSeverityCartel(procesado.respuestas_carteles[0].probabilidad)" 
    (mouseover)="open.toggle($event)"
    (mouseout)="onMouseOut($event)"
    (click)="closable.toggle($event)"
></p-tag>


<p-tag *ngIf="procesado.respuestas_dispositivos.length>0" 
    class = "cursor-pointer "
    icon="pi pi-info-circle"
    value="{{procesado.respuestas_dispositivos[0].dispositivos_contados}}/{{procesado.respuestas_dispositivos[0].huecos_esperados}}"
    [severity]="getSeverityDispositivos(procesado.respuestas_dispositivos[0].dispositivos_contados, procesado.respuestas_dispositivos[0].huecos_esperados)" 
    (mouseover)="open.toggle($event)"
    (mouseout)="onMouseOut($event)"
    (click)="closable.toggle($event)"
></p-tag>
 
                       
<p-overlayPanel #closable  [showCloseIcon]="true" [style]="{width: '20vw'}">
 
    <div *ngIf="procesado.respuestas_carteles.length > 0">
        <span style="font-weight: bold;">· Probabilidad: </span>  
        <p-tag [severity]="getSeverityCartel(procesado.respuestas_carteles[0].probabilidad)" >
            {{procesado.respuestas_carteles[0].probabilidad}}
        </p-tag>
    </div>



    <div *ngIf="procesado.respuestas_dispositivos.length>0">
        <span style="font-weight: bold;">· Encontrados: </span>           
         <p-tag 
            [severity]="getSeverityDispositivos(procesado.respuestas_dispositivos[0].dispositivos_contados, procesado.respuestas_dispositivos[0].huecos_esperados)" >
            {{procesado.respuestas_dispositivos[0].dispositivos_contados}}/{{procesado.respuestas_dispositivos[0].huecos_esperados}}
         </p-tag>
    </div>

    <br>
    <span style="font-weight: bold;">· Comentarios: </span><span >{{this.procesado.comentarios}}</span>
    <br>
    <br>
    <span style="font-weight: bold;">· IA Utilizada: </span><span >{{this.procesado.IA_utilizada}}</span>
    <br>
    <br>
    <span style="font-weight: bold;">· Prompt utilizado: </span><span >{{this.procesado.prompt_usado}}</span>
    <br>
    <br>
    <span style="font-weight: bold;">· Fecha: </span><span >{{ this.procesado.fecha | date:'dd-MM-yyyy | HH:mm' }}</span>
    <br>
    <br>
</p-overlayPanel>


<p-overlayPanel #open [showCloseIcon]="false" [style]="{width: '20vw'}">

    <div *ngIf="procesado.respuestas_carteles.length > 0">
        <span style="font-weight: bold;">· Probabilidad: </span>  
        <p-tag [severity]="getSeverityCartel(procesado.respuestas_carteles[0].probabilidad)" >
            {{procesado.respuestas_carteles[0].probabilidad}}
        </p-tag>
    </div>



    <div *ngIf="procesado.respuestas_dispositivos.length>0">
        <span style="font-weight: bold;">· Encontrados: </span>           
         <p-tag 
            [severity]="getSeverityDispositivos(procesado.respuestas_dispositivos[0].dispositivos_contados, procesado.respuestas_dispositivos[0].huecos_esperados)" >
            {{procesado.respuestas_dispositivos[0].dispositivos_contados}}/{{procesado.respuestas_dispositivos[0].huecos_esperados}}
         </p-tag>
    </div>

    <br>
    <span style="font-weight: bold;">· Comentarios: </span><span >{{this.procesado.comentarios}}</span>
    <br>
    <br>
    <span style="font-weight: bold;">· IA Utilizada: </span><span >{{this.procesado.IA_utilizada}}</span>
    <br>
    <br>
    <span style="font-weight: bold;">· Prompt utilizado: </span><span >{{this.procesado.prompt_usado}}</span>
    <br>
    <br>
    <span style="font-weight: bold;">· Fecha: </span><span >{{ this.procesado.fecha | date:'dd-MM-yyyy | HH:mm' }}</span>
    <br>
    <br>
</p-overlayPanel>