
.imagenProcesadaIndiceMayor0 {
    display: flex; 
    flex-direction: column;
}



  
.cursor-zoom {
    cursor: zoom-in;
    transform: scale(5.3);
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centeredV2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}


 :host::ng-deep {
 .p-button.p-highlight.optionColorVodafone {
    background: red;
    border: rgb(87, 11, 11);
    
  }

  .tag-container {
    position: absolute;
    top: 5%;
    right: 1%;
    transition: transform 0.3s ease;
}

.tag-container:hover {
    transform: scale(1.1);
    transform-origin: top right;
}

.image-container {
    position: relative;
    max-width: 80%;
    overflow: hidden;

}


  
  
}

