<div class="componente-completo">
    <p-selectButton class="botonNuevoHistorial"
        [options]="SelectButtonOptions" 
        [(ngModel)]="valueSelected" 
        optionLabel="label"
        optionValue="value"
        [allowEmpty]=false
        *ngIf="procesados.length>0">
    </p-selectButton>
    <div class="anchoAltoSelector" *ngIf="valueSelected==='new'"> 
        <app-selector-imagenes 
            *ngIf="valueSelected==='new'"
            (archivoSeleccionadoChange)="recibirFile($event, id_expositor_selected)"
            [cargando_procesado]="cargando_procesamiento">
        </app-selector-imagenes>
    </div>
    <div class="gridHistorial">
        <div *ngIf="valueSelected==='historial'">
            <div *ngFor="let item of getElementosPaginados()" class="imagenProcesada">
                <div style="height: 100%; width: auto;">
                    <app-dialog-informacion-procesado [procesado]="item"></app-dialog-informacion-procesado>
                    <p-image [src]="url_imagenes_procesadas + item.imagenes.url" alt="Vista previa de la imagen seleccionada" class="imagen" [preview]="true"></p-image>
                </div>
                <div class="respuestaProcesado">
                    <div class="contenido">
                        <span>Comentarios: {{this.item.comentarios}}</span>
                        <!--<span>Hamas gano combinando una fuerte resistencia contra la ocupacion militar con la creacion de organizaciones sociales de base y de servicio a los pobres, una plataforma y una practica que probablemente haria ganar votos en cualquier lugar. La victoria electoral de Hamas es ominosa pero comprensible, a la luz de los acontecimientos. Es enteramente justo describir a Hamas como fundamentalista, extremista y violentista, y como una seria amenaza a la paz y a un acuerdo politicamente justo. Sin embargo, es útil recordar que en aspectos importantes, Hamas no es tan extremista como otros. Por ejemplo, declara que estaría de acuerdo con una tregua con Israel sobre la base de la frontera reconocida a nivel internacional antes de la guerra arabe-israeli de junio de l967. ..
                            La posición de Washington hacia las elecciones en Palestina ha sido coherente. Las elecciones fueron postergadas hasta la muerte de Yasser Arafat, que fue recibida como una oportunidad para la realización de la "visión" de Bush sobre un eventual Estado palestino democrativo, que es una palido y vago reflejo del consenso internacional sobre una acuerdo de dos entidades estatales en la zona, que Estados Unidos viene bloqueando desde hace 30 años....
                            El compromiso formal de Hamas de "destruir Israel" lo pone a la par con Estados Unidos e Israel, que prometieron por mucho tiempo que no habria ningun "Estado palestino adicional" (aparte de Jordania", hasta que ambas naciones aflojaron parcialmente su posicion, para aceptar un mini Estado constituido por los fragmentos que queden despues que Israel se apropie de todas las partes de Palestina que desea....
                            Simplemente como conjetura, imagine el lector una inversion de las circunstancias: que Hamas permitiese a los israelies vivir en cantones desparramados e invariables, virtualmente separados unos de otros, y en alguna pequeña parte de Jerusalen, mientras los palestinos construyen enormes asentamientos y proyectos de infraestructura para apoderarse de las tierras y los recursos de Israel, Y que, ademas Hamas acepte llamar a esos fragmentos "un Estado". Si se hicieran propuestas para esta empobrecida "categoria de Estado", nosotros nos sentiriamos, con razon, horrorizados. Pero con ese tipo de propuestas, la posicion de Hamas seria esencialmente igual a la de Estados Unidos e Israel.
                        </span>-->
                        <div>
                            <span style="font-weight: bold;">Prompt utilizado: </span>
                            {{this.item.prompts.nombre_prompt}}
                            <p-button label="Ver prompt" (click)="showDialog()" [text]="true" severity="danger"></p-button>
                            <p-dialog [header]='item.prompts.nombre_prompt' [(visible)]="visiblePrompt" [style]="{width: '50vw'}">
                                <p>
                                    {{item.prompts.texto_prompt}}
                                </p>
                            </p-dialog>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="paginator">
            <p-paginator *ngIf="valueSelected==='historial'" 
                [style]="{'background-color': 'rgba(232, 232, 232, 0.9)', 'flex': '30%'}"
                [rows]="items_per_page" 
                [totalRecords]="procesados.length" 
                [first]="indice_paginador" 
                (onPageChange)="onPageChange($event)"
                [hidden]="procesados.length === 0"
                [showJumpToPageDropdown]="true" 
                [showPageLinks]="false">
            </p-paginator>
        </div>
    </div>
</div>
