<div >

    <div class="centered">
        <p-selectButton  
            [options]="SelectButtonOptions" 
            [(ngModel)]="valueSelected" 
            optionLabel="label"
            optionValue="value"

            [allowEmpty]=false
            >
            
        </p-selectButton>
 
    </div>


    <div *ngIf="valueSelected === 'new'"  >
        <app-selector-imagenes 
            (archivoSeleccionadoChange)="recibirFile($event, id_expositor_selected)"
            [cargando_procesado]="cargando_procesamiento">
        </app-selector-imagenes>
    </div>
    <div *ngIf="valueSelected === 'historial'" class="centeredV2">
     
          
            <p-galleria 
                [value]="procesados" 
                [showIndicators]="true" 
                [showThumbnails]="false" 
                [responsiveOptions]="responsiveOptions" 
                [containerStyle]="{ 'max-width': '400px', 'height': '400px' }"
                [changeItemOnIndicatorHover]="true"
                [showItemNavigators]="true"
            >
                <ng-template pTemplate="item" let-item  class="image-container">
                    
                    <img [src]="url_imagenes_procesadas + item.imagenes.url" alt="Vista previa de la imagen seleccionada" style="width: 400px; height: 400px;">
                    
                    <div class="tag-container" (mouseover)="onMouseOver($event)" (mouseout)="onMouseOut($event)">

                        <app-dialog-informacion-procesado [procesado]="item"></app-dialog-informacion-procesado>

                    </div>
                    
                 
                </ng-template>
            </p-galleria>
           
         
        
    </div>	

    
</div>


