.componente-completo {
    width: 100%;
    height: 550px;
    display: grid;
    align-content: center;
    grid-template-rows: 10% 90%;
}

.componente-solo-selector {
    width: 100%;
    height: 100%;
}
.botonNuevoHistorial {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen {
    width:90%;
    height:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}
.anchoAltoSelector {
    width: 90%;
    height: 90%;
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
}

.gridHistorial {
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    grid-template-rows: 85% 15%;
}
.imagenProcesada {
    position: relative;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 60% 40%;
}
.anchoAltoImagenDialog {
    height: 100%; 
    width: auto;
    
}
.respuestaProcesado {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.contenido {
    display: grid;
    grid-template-rows: 65% 35%;
    width: 100%; 
    height: 100%;
}
.margenesComentario {
    margin-top: 5%;
    margin-left: 5%;
}
.margenesPrompt {
    margin-top: 5%;
}
.promptBotones {
    display: grid;
    align-content: center;
    grid-template-columns: 50% 50%;
}


:host::ng-deep {
    .p-button.p-highlight.optionColorVodafone {
       background: red;
       border: rgb(87, 11, 11);
    }
}

.image-container {
    position: relative;
    max-width: 80%;
    overflow: hidden;
}

.butonFeedback {
    display: flex;
}
.valoracionBorrar {
    margin: auto;
}

.p-image-preview-container>img {
    cursor: pointer;
    height: 50px;
}

::ng-deep .p-image-preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    max-height: 90%;
    max-width: 100%;
    width: auto;
}

::ng-deep .p-image img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    max-width: 100%;
    height: 90%;
    width: auto;
    margin: 1%;
}

.p-image {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verPrompt{
    max-width: 100%;
    margin: auto;
    margin-left: 15%;
}