<div [ngClass]="{'componente-completo': procesados.length > 0, 'componente-solo-selector': procesados.length === 0}">
    <p-selectButton
        class="botonNuevoHistorial"
        [options]="SelectButtonOptions" 
        [(ngModel)]="valueSelected" 
        optionLabel="label"
        optionValue="value"
        [allowEmpty]=false
        *ngIf="procesados.length>0 "
        ngClass="botonSelectorHistorial">
    </p-selectButton>
    <div class="anchoAltoSelector" *ngIf="valueSelected==='new'"> 
        <app-selector-imagenes 
            *ngIf="valueSelected==='new'"
            (archivoSeleccionadoChange)="recibirFile($event)"
            [cargando_procesado]="cargando_procesamiento">
        </app-selector-imagenes>
    </div>
    <div *ngIf="valueSelected==='historial'" class="anchoAltoGridFotosPaginador">
        <app-visualizacion-procesados
            [procesados]="procesados"
        ></app-visualizacion-procesados>
    </div>
</div>
