.componente-completo {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.imagen {
    height: 400px;
}

::ng-deep .p-paginator {
    padding: 0;
}

.p-paginator._ngcontent-ng-c3951205998{
    margin-top: 5%;
}