.radio-container {
    display: flex;
    align-items: center;
  }
  
  .radio-container .flex {
    display: flex;
    align-items: center;
  }
  
  .radio-container p-radioButton {
    margin-right: 10px;
  }