<div class="paginaCompleta">
    <p-button label="Auditorías" severity="danger" (onClick)="goTo('gestionAuditorias')" class="botonesRutasHome" [style]="{'width': '90%', 'height': '80%' }"></p-button>
    <!-- <p-button label="Admin" severity="danger" (onClick)="goTo('validador')" class="botonesRutasHome" [style]="{'width': '90%', 'height': '80%' }"></p-button> -->
    <p-button label="Tienda" severity="danger" (onClick)="goTo('tiendas')" class="botonesRutasHome" [style]="{'width': '90%', 'height': '80%' }"></p-button>
    <p-button label="Mueble" severity="danger" (onClick)="goTo('muebles')" class="botonesRutasHome" [style]="{'width': '90%', 'height': '80%' }"></p-button>
    <p-button label="Elementos" severity="danger" (onClick)="goTo('elementos')" class="botonesRutasHome" [style]="{'width': '90%', 'height': '80%' }"></p-button>
    <p-button label="Template Informe" severity="danger" (onClick)="goTo('templateInforme')" class="botonesRutasHome" [style]="{'width': '90%', 'height': '80%' }"></p-button>
</div>


