.paginaCompleta {
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.botonesRutasHome {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

