<div class="paginaCompleta">
    <p-button label="Auditorías" severity="danger" (onClick)="goToGestionAuditorias()" class="botonesRutasHome" [style]="{'width': '90%', 'height': '80%' }"></p-button>
    <p-button label="Admin" severity="danger" (onClick)="goToAdmin()" class="botonesRutasHome" [style]="{'width': '90%', 'height': '80%' }"></p-button>
    <p-button label="Tienda" severity="danger" (onClick)="goToTienda()" class="botonesRutasHome" [style]="{'width': '90%', 'height': '80%' }"></p-button>
    <p-button label="Mueble" severity="danger" (onClick)="goToMueble()" class="botonesRutasHome" [style]="{'width': '90%', 'height': '80%' }"></p-button>
    <p-button label="Expositores" severity="danger" (onClick)="goToExpositor()" class="botonesRutasHome" [style]="{'width': '90%', 'height': '80%' }"></p-button>
</div>


