.paginaCompleta {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.botonesRutasHome {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginaCompleta ::ng-deep .p-button{
    background-color: #be0303;
}