<!-- <div class="paginaCompleta"> 
    <div class="p-cardsRuta">
        <p-card class="card" (click)="goToGestionAuditorias()">
            Auditorias
        </p-card>
        <div class="card" (click)="goToAdmin()">
            <img  src="../../../assets/images/admin_example.png" class="image" alt="admin">
        </div>

        <p-card class="card" (click)="goToTienda()">
            Tienda
        </p-card>

        <p-card class="card" (click)="goToMueble()">
            Mueble
        </p-card>

        <p-card class="card" (click)="goToExpositor()">
            Expositor
        </p-card>

        
    </div>
</div> -->

<div class="paginaCompleta">
    <p-button label="Auditorías" severity="danger" (onClick)="goToGestionAuditorias()" class="mt-2"></p-button>
    <p-button label="Admin" severity="danger" (onClick)="goToAdmin()" class="mt-2"></p-button>
    <p-button label="Tienda" severity="danger" (onClick)="goToTienda()" class="mt-2"></p-button>
    <p-button label="Mueble" severity="danger" (onClick)="goToMueble()" class="mt-2"></p-button>
    <p-button label="Expositores" severity="danger" (onClick)="goToExpositor()" class="mt-2"></p-button>
</div>


