.paginaCompleta {
  display: flex; 
  align-items: center; 
  flex-direction: column;
  width: 100%;
}

.contornoPanel {
  width: 81%; 
  display: flex; 
  flex-direction: column; 
  justify-content: center;
}

.panelCompleto{
  display: flex; 
  justify-content: center; 
  width: 100%; 
  margin-top: 0%; 
  height: 550px;
}
.panelIzquierda {
  display: flex; 
  justify-content: center; 
  width: 50%; 
  background-color: rgba(210, 209, 209, 0.9);
}
.panelDerecha{
  display: flex; 
  justify-content: center; 
  width: 50%; 
  background-color: rgba(232, 232, 232, 0.9);
}

.anchoAltoSubirFotos {
  width: 95%;
  height: 95%;
  margin: auto; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  box-sizing: border-box; 
}