<div class="paginaCompleta">
    <p-card class="centrar">
        <div class="parametrosLogin" *ngIf="!crearUsuario">
            <div class="divImagen">
                <img class="anchoAltoMax" src="assets/images/icono.png">
            </div>
            <div class="card flex justify-content-center ajusteInput">
                <span class="p-float-label input">
                    <input pInputText id="username" class="input" [(ngModel)]="credenciales.usuario" (keyup.enter)="iniciarSesion()"/>
                    <label for="username">Usuario</label>
                </span>
            </div>
            <div class="card flex justify-content-center ajusteInput">
                <span class="p-float-label input">
                    <p-password [(ngModel)]="credenciales.password" [toggleMask]="true" [feedback]="false" class="input" (keyup.enter)="iniciarSesion()"
                    ></p-password>
                    <label for="username">Contraseña</label>
                </span>
            </div>
            <div class="resetPassword">
                <p-button label="¿Has olvidado tu contraseña?" [link]="true" [style]="{'cursor': 'pointer', 'color': '#be0303', 'padding': '0'}"></p-button>
            </div>
            <div class="input">
                <p-button label="Iniciar Sesión" 
                class="buttonInicioSesion" 
                [style]="{'cursor': (!credenciales.usuario || !credenciales.password) ? 'no-drop' : 'pointer', 
                'padding': '0', 'background-color': '#be0303', 'border-color': '#be0303', 'width': '100%', 'height': '50%'}"
                [disabled]="!credenciales.usuario || !credenciales.password"
                (onClick)="iniciarSesion()"
                (keyup.enter)="iniciarSesion()"
                ></p-button>
            </div>
            <div class="crearUsuario" *ngIf="!crearUsuario">
                <div style="margin-top: 5%;">
                    <hr style="border: 1px solid #be0303;">
                </div>
                <div>
                    <p-button label="¿No tienes usuario? Regístrate" [link]="true" [style]="{'cursor': 'pointer', 'color': '#be0303', 'padding': '0'}" (onClick)="crearUsuario = !crearUsuario"></p-button>
                </div>
                <div style="margin-top: 5%;">
                    <hr style="border: 1px solid #be0303;">
                </div>
            </div>
        </div>
        <div class="parametrosCrearUsuario" *ngIf="crearUsuario">
            <div class="divImagen">
                <img class="anchoAltoMax" src="assets/images/icono.png">
            </div>
            <p-button icon="pi pi-arrow-left" [rounded]="true" [text]="true" severity="danger " class="botonVolver" (onClick)="crearUsuario = !crearUsuario"></p-button>
            <div class="card flex justify-content-center ajusteInput">
                <span class="p-float-label input">
                    <input pInputText id="usuario" class="input" [(ngModel)]="nuevoUsuario.usuario" />
                    <label for="username">Nuevo Usuario</label>
                </span>
            </div>
            <div class="card flex justify-content-center ajusteInput">
                <span class="p-float-label input">
                    <input pInputText id="repiteUsuario" class="input" [(ngModel)]="nuevoUsuario.repiteUsuario" />
                    <label for="repiteUsuario"> Repetir Nuevo Usuario</label>
                </span>
            </div>
            <div class="card flex justify-content-center ajusteInput">
                <span class="p-float-label input">
                    <p-password  [toggleMask]="true" [feedback]="false" class="input" [(ngModel)]="nuevoUsuario.password"></p-password>
                    <label for="password">Contraseña</label>
                </span>
            </div>
            <div class="card flex justify-content-center ajusteInput">
                <span class="p-float-label input">
                    <p-password (onClear)="nuevoUsuario.repitePassword = ''" [toggleMask]="true" [feedback]="false" class="input" [(ngModel)]="nuevoUsuario.repitePassword"></p-password>
                    <label for="repitePassword"> Repetir Nueva Contraseña</label>
                </span>
            </div>
            <div class="input">
                <p-button label="Registrarme" 
                class="buttonInicioSesion" 
                [style]="{'cursor': 'pointer', 
                'padding': '0', 'background-color': '#be0303', 'border-color': '#be0303', 'width': '100%', 'height': '50%'}"
                (onClick)="registrarNuevoUsuario()",
                (keyup.enter)="registrarNuevoUsuario()">
                ></p-button>
            </div>
        </div>
    </p-card>
</div>
<p-toast></p-toast>
