<div class="paginaCompleta">
    <p-card class="centrar">
        <div class="parametrosLogin">
            <div class="divImagen">
                <img class="anchoAltoMax" src="assets/images/icono.png">
            </div>
            <div class="card flex justify-content-center ajusteInput">
                <span class="p-float-label input">
                    <input pInputText id="username" class="input" [(ngModel)]="credenciales.usuario" />
                    <label for="username">Usuario</label>
                </span>
            </div>
            <div class="card flex justify-content-center ajusteInput">
                <span class="p-float-label input">
                    <p-password [(ngModel)]="credenciales.password" [toggleMask]="true" [feedback]="false" class="input"></p-password>
                    <label for="username">Contraseña</label>
                </span>
            </div>
            <div class="resetPassword">
                <p-button label="¿Has olvidado tu contraseña?" [link]="true" [style]="{'cursor': 'pointer', 'color': '#be0303', 'padding': '0'}"></p-button>
            </div>
            <div class="input">
                <p-button label="Iniciar Sesión" 
                class="buttonInicioSesion" 
                [style]="{'cursor': (!credenciales.usuario || !credenciales.password) ? 'no-drop' : 'pointer', 
                'padding': '0', 'background-color': '#be0303', 'border-color': '#be0303', 'width': '100%', 'height': '50%'}"
                [disabled]="!credenciales.usuario || !credenciales.password"
                ></p-button>
            </div>
            <div class="crearUsuario">
                <div style="margin-top: 5%;">
                    <hr style="border: 1px solid #be0303;">
                </div>
                <div>
                    <p-button label="¿No tienes usuario? Regístrate" [link]="true" [style]="{'cursor': 'pointer', 'color': '#be0303', 'padding': '0'}"></p-button>
                </div>
                <div style="margin-top: 5%;">
                    <hr style="border: 1px solid #be0303;">
                </div>
            </div>
        </div>
    </p-card>
</div>