<h1>Auditoría para la tienda - {{informeData.tiendas.sfid}}</h1>

<p-table [value]="resumen_auditoria">
    <ng-template pTemplate="header">
        <tr>
            <th>Concepto</th>
            <th>Detalle</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-concepto>
        <tr>
            <td>{{concepto.concepto}}</td>
            <td>{{concepto.detalle}}</td>
        </tr>
    </ng-template>
</p-table>

<div style="display: flex">
    <div style ="justify-content: center; margin-right: 10%">
        <h3>Porcentaje de procesados en la auditoría:</h3>
        <p-progressBar [value]="porcentaje_procesados"></p-progressBar>
    </div>
    <div style ="justify-content: center;">
        <h3>Resumen resultados:</h3>
        <p-chart type="polarArea" [data]="data" [options]="chartOptions"></p-chart>
    </div>
</div>