
    <p-toast position="top-center" key="tc"></p-toast>
    <div style="display: flex; flex-direction: row; width: 100%" height="100%">
        <form [formGroup]="nuevoElemento_form" style="width: 50%">
            <input type="text" pInputText pKeyFilter="int" placeholder="Nombre del elemento" [formControlName]="'nombre'" style="margin-top: 10px;"/>
            <p-dropdown name="categoria"   [options]="categorias_elementos"  optionLabel="nombre"  value="#categoria" [placeholder]="'Seleccione categoria'" [formControlName]="'categoria'" [style]="{marginTop: '10px'}" ></p-dropdown>
         
            <div *ngIf="categoria?.value == 'Dispositivos'" style="margin-top: 10px;">
                <p-inputNumber id="numero_dispositivos" [formControlName]="'numero_dispositivos'" [style.width]="'9rem'" [showButtons]="true" 
                   buttonLayout="horizontal" spinnerMode="horizontal" decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary" 
                   incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" >
                </p-inputNumber>
                <label for="numero_dispositivos" style="margin-left: 10px;">Número de dispositivos</label>
            </div>
            <small class="p-error" *ngIf="submitted && (nombre?.valid || categoria?.value=='' || imagen?.valid  || (categoria?.value=='Dispositivos' && numero_dispositivos?.value==0))"> Debe rellenar todos los campos<br></small>
            <small class="p-error" *ngIf="submitted && (nombre?.invalid )">* El nombre no puede estar vacio *  <br> </small>
            <small class="p-error" *ngIf="submitted && (imagen?.invalid )">* Seleccione una imagen * <br></small>
            <small class="p-error" *ngIf="submitted && (categoria?.invalid )">* Seleccione una categoria * <br></small> 
        </form>
        <div style="width: 50%; margin-left: 20px; height: 300px; overflow: hidden;">
            <app-selector-imagenes [opcion_multiple]="false"
                (archivoSeleccionadoChange)="recibirFile($event)"
                [cargando_procesado]="true">
            </app-selector-imagenes>
        </div>
    </div>
    
<div style="display: flex; flex-direction: row; justify-content: right; width: 100%; margin-top: 20px;">
    <button pButton  label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="nuevoCancelar()" style="width: 20%;"></button>
    <button pButton  label="Guardar" icon="pi pi-check" class="p-button-text" (click)="nuevoGuardar()"style="width: 20%;"></button>
</div>

