<p-toast></p-toast>

<div style="display: flex;">
    <i class="pi pi-shopping-cart" style="font-size: 4rem; color: rgb(154, 5, 5);"></i>
    <h1 style="margin-left: 1rem;">Carrito</h1>
</div>

<div *ngIf="total_carrito > 0; else carritoVacio" >
    <p-dataView #dv [value]="productos_carrito">

            <ng-template let-producto pTemplate="listItem"> 
    
                <div class="col-12">
                    <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4" >
        
                        <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" [src]="url_imagenes_productos + producto.imagenes.url" [alt]="producto.nombre" />
        
                        <div class="flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
        
                            <div class="flex align-items-center sm:align-items-start gap-3" style="justify-content: space-between;">
                                <div class="text-2xl font-bold text-900">{{ producto.nombre }}</div>
                                <div class="flex flex-column gap-3">
                                    <span class="text-2xl font-semibold" style="align-self: end;">{{ producto.precio + '€' }}</span>
                                    <span class="text-sm text-gray-500 font-normal" style="align-self: end;">sub total: {{ (producto.precio * producto.cantidad).toFixed(2) }}€</span>
                                </div>
  
                            </div> 
        
                            <div class="flex sm:flex-row align-items-center sm:align-items-end gap-3 sm:gap-2" style="justify-content: space-between;">
                                <div class="flex flex-column gap-3">
                                    <h3>Talla: {{producto.caracteristica_seleccionada}}</h3>
                                    <!-- Parte de la seleccion de unidades -->
                                    <p-inputNumber
                                        [(ngModel)]="producto.cantidad"
                                        [showButtons]="true"
                                        buttonLayout="horizontal"
                                        inputId="horizontal"
                                        spinnerMode="horizontal"
                                        (ngModelChange)="cambiarTotal(producto)"
                                        [step]="1"
                                        [min]="1"
                                        decrementButtonClass="p-button-secondary"
                                        incrementButtonClass="p-button-danger"
                                        incrementButtonIcon="pi pi-plus"
                                        decrementButtonIcon="pi pi-minus"
                                        [size]="1"
                                    ></p-inputNumber>
                                </div>
                                
                                <i class="pi pi-trash" (click)="eliminarProducto(producto)" style="font-size: 1.5rem; color: rgb(154, 5, 5); margin-left: 1rem;  cursor: pointer;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
    </p-dataView>
    <p-confirmDialog></p-confirmDialog>

    <div class="flex flex-column xl:flex-row justify-content-between xl:align-items-start p-4 gap-4" >
        <h2  >Total: {{total_carrito}}€</h2>

        <p-button   (click)="confirmaCompra($event)" icon="pi pi-check" severity="danger" label="Realizar pedido"></p-button>
    </div>


    
</div>

<ng-template #carritoVacio>
    <h3>Aun no has añadido ningun producto al carrito!</h3>
</ng-template>

<hr style="border: 1px solid rgb(141, 139, 139);">
 
