<div class="flex">
  <div class="flex-1 m-2">
    <div *ngIf="imagenesModeloExpositores && imagenesModeloExpositores.length > 0; else sinModelo">
      <div class="canvas-container" style="position: relative;">
        <canvas id="canvas"></canvas>
      </div>
      <div class ="flex m-2">
        <app-arrastrarElemento [mode]="'arrastrar'" (onDragEnd)="onDragEnd($event)"></app-arrastrarElemento>
      </div>
    </div>

    <ng-template #sinModelo>
      
          <app-arrastrarElemento 
          [mode]="'seleccionar'" 
          [initialSelectedElemento]="firstElementoSinModeloExpositor"
          (onElementoSeleccionado)="onSeleccionadoSinHuecos($event)">
        </app-arrastrarElemento>
  
    </ng-template>
  


  </div>
</div>
