<form [formGroup]="formularioPaso1" (ngSubmit)="onSubmit()">
  <div class="flex flex-column">

    <div class="flex align-items-center justify-content-center mt-4">
      <p-card [style]="{'width':'130vh'}" header="Nombre*">
        <input type="text" formControlName="nombre" pInputText class="w-full">
        <small *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="block p-error">
          <div *ngIf="nombre.errors?.['required']">El nombre es obligatorio.</div>
        </small>
      </p-card>
    </div>


    <div class="flex align-items-center justify-content-center mt-4">
      <p-card [style]="{'width':'130vh'}" header="Subir modelo">

        <!-- 
        
              <small class="text-500 ml-2 ts-1 text-xs font-italic"> Dibuja la posición donde se encontrarán los elementos</small>

              <div class="flex-1 asignar_huecos_container">
                <app-asignarHuecos [expositor]="selected_expositor"></app-asignarHuecos>
              </div> -->

        <div class="flex" style="height: 50vh">

          <div class="flex-1 m-2" style="height: 50vh">
            <app-selector-imagenes (archivoSeleccionadoChange)="onArchivoSeleccionadoChange($event)"  style="width: 100%; overflow: hidden;"></app-selector-imagenes>
          </div>


          <div class="flex-1 m-2 flex flex-wrap">

            <div *ngFor="let imagen of imagenes.value; let i = index">
             
                <img class="flex m-2 default-imagen" 
                  [src]="imagen" height="200vh"
                  [alt]="imagen" />
             

            </div>

          </div>
        </div>

    </p-card>

  </div>


  </div>


 


</form>