<form [formGroup]="formulario">
  <div class="flex flex-column">

    <div class="grid">
      <div class="col">
        <div class=" h-full">
       
            <p-card header="Nombre*" [style]="{'height': '100%'}" >
              <div class="mb-4 text-500">
                <small>
                    Escribe el nombre del mueble
                </small>
              </div>
                <input type="text" formControlName="nombre_mueble" pInputText class="w-full">
                <small *ngIf="nombre_mueble.invalid && (nombre_mueble.dirty || nombre_mueble.touched)" class="block p-error">
                    <div *ngIf="nombre_mueble.errors?.['required']">El nombre es obligatorio.</div>
                </small>
            </p-card>
        </div>
     </div>
    
    
      <div class="col">
          <p-card header="Región" [style]="{'height': '100%'}">
              <div class="mb-4 text-500">
                  <small>
                      Añade una región para el mueble si es necesario
                  </small>
              </div>
              <p-dropdown class="mt-2" [options]="regiones" formControlName="region" optionLabel="nombre"
                  [showClear]="true" placeholder="Seleccionar una región" [style]="{'margin-left': '20px'}">
              </p-dropdown>
          </p-card>
      </div>
  </div>
  
     
    
     

    <div class="flex align-items-center justify-content-center mt-4" *ngIf ="objetivo_form=='crear' || (objetivo_form=='editar' && !!imagenesExpositores && imagenesExpositores.length > 0)" >
      <p-card [style]="{'width':'130vh'}" [header]=" (objetivo_form=='editar') ? 'Modelo' : 'Subir modelo' ">
        <div *ngIf="objetivo_form=='crear'" >
          <span class="pi pi-exclamation-triangle text-xl" style="color: orange"></span>

          <small class="text-500"  >
            Añade si es necesario a lo sumo 2 imagenes que sirvan como <span class="font-bold">modelo </span> para el mueble
          </small>
        </div>
        <div class="flex" style="height: 50vh;"  *ngIf="objetivo_form=='crear'; else editar">
          
          <div class="flex-1 m-2  ">
            <app-selector-imagenes [button_disabled]="imagenesExpositores.length >= 2" (archivoSeleccionadoChange)="onArchivoSeleccionadoChange($event)"></app-selector-imagenes>
          </div>


          <div class="flex-1 m-2 flex flex-wrap">

           
            <div *ngFor="let imagen of imagenesExpositores; let i = index"  class="image-container">
                <img class="flex m-2 default-imagen" 
                  [src]="imagen" height="200vh"
                  [alt]="imagen" />
                  <p-button icon="pi pi-trash" class="delete-button" severity="danger"  [rounded]="true" (click)="deleteImage(i)"></p-button>
             
            </div>

          </div>
        </div>

        <ng-template #editar>
          <div *ngFor="let imagen of imagenesExpositores; let i = index"  class="image-container">
             
            <img class="flex m-2 default-imagen" 
              [src]="imagen" height="200vh"
              [alt]="imagen" />
        </div>
        </ng-template>
      

    </p-card>

  </div>



  </div>


 


</form>