<p-dialog 
    [modal]="true"
    [header]="" 
    [(visible)]="verFormularioEditarTienda"
    (onHide)="verFormularioEditarTiendaChange.emit(false)"
    [style]="{'width': '80vw', 'max-height': '100vh'}" 
    [draggable]="false">
    <div>
        <div class="formularioICIUG" *ngIf="activeIndex === 0">
            <p><strong>Activo:</strong></p>
            <td><p-toggleButton [(ngModel)]="tiendaSelected.activo" onLabel="Sí" offLabel="No" ></p-toggleButton></td>
            <p><strong>Visible:</strong></p>
            <td><p-toggleButton [(ngModel)]="tiendaSelected.visible" onLabel="Sí" offLabel="No" [style]="{'cursor': 'pointer'}"></p-toggleButton></td>                
            <p><strong>Vodafone:</strong></p>
            <td><p-toggleButton [(ngModel)]="tiendaSelected.vodafone" onLabel="Sí" offLabel="No"></p-toggleButton></td> 
            <p><strong>Lowi:</strong></p>
            <td><p-toggleButton [(ngModel)]="tiendaSelected.lowi" onLabel="Sí" offLabel="No"></p-toggleButton></td>  
        </div>
        <div *ngIf="activeIndex === 1">
            <app-agregar-mueble-a-tienda
                [listaMueblesDisponiblesTablaIzquierda]="listaMueblesDisponiblesTablaIzquierda"
                [listaMueblesAsignadosTablaDerecha]="listaMueblesAsignadosTablaDerecha"
            ></app-agregar-mueble-a-tienda>
        </div>
        <div *ngIf="activeIndex === 2" >
            <div>
                <small class="text-gray-700">Para asignar un plano seleccione una imagen acorde que represente la tienda vista desde arriba</small>
            </div>
            <div class="centrarContenido m-2" >
                <div style="height: 50vh; width: 50vh ">
    
                    <app-selector-imagenes [opcion_multiple]="false" [initialImageSelected]="getImageTiendaSelected()" (archivoSeleccionadoChange)="onArchivoSeleccionadoChange($event)"></app-selector-imagenes>
                </div>
            </div>
          </div>
        <div class="resumentNuevaTienda" *ngIf="activeIndex === 3">
            <div>
                <p><strong>Resumen de la tienda:</strong></p>
                <p><strong>Nombre: </strong>{{tiendaSelected.nombre}}</p>
                <p><strong>CIF: </strong>{{tiendaSelected.cif}}</p>
                <p><strong>SFID: </strong>{{tiendaSelected.sfid}}</p>
                <p><strong>Razón Social: </strong>{{tiendaSelected.razon_social}}</p>
                <p><strong>Tipo PDV: </strong>{{tiendaSelected.tipo_pdv}}</p>
                <p><strong>Zona Geográfica: </strong>{{tiendaSelected.zona_geografica}}</p>
                <p><strong>Provincia: </strong>{{tiendaSelected.provincia}}</p>
                <p><strong>Población: </strong>{{tiendaSelected.poblacion}}</p>
                <p><strong>CP: </strong>{{tiendaSelected.cp}}</p>
                <p><strong>Activo: </strong><span class="pi" [ngClass]="{ 'text-green-500 pi-check-circle': tiendaSelected.activo, 'text-red-500 pi-times-circle': !tiendaSelected.activo }" [style]="{'cursor': 'auto'}" ></span></p>
                <p><strong>Visible: </strong><span class="pi" [ngClass]="{ 'text-green-500 pi-check-circle': tiendaSelected.visible, 'text-red-500 pi-times-circle': !tiendaSelected.visible }" [style]="{'cursor': 'auto'}"></span></p>
                <p><strong>Vodafone: </strong><span class="pi" [ngClass]="{ 'text-green-500 pi-check-circle': tiendaSelected.vodafone, 'text-red-500 pi-times-circle': !tiendaSelected.vodafone }" [style]="{'cursor': 'auto'}"></span></p>
                <p><strong>Lowi: </strong><span class="pi" [ngClass]="{ 'text-green-500 pi-check-circle': tiendaSelected.lowi, 'text-red-500 pi-times-circle': !tiendaSelected.lowi }" [style]="{'cursor': 'auto'}"></span></p>
            </div>
            <div>
                <p-orderList [value]="listaMueblesAsignadosTablaDerecha" [listStyle]="{ height: '20rem' }" header="Muebles Seleccionados" >
                    <ng-template let-mueble pTemplate="item">
                        <div class="contenedorMuebleArrastras">
                            <div class="anchoAltoDescripcionFotoReferencia">
                                <span class="letrasCaracteristicasMueble"><strong>{{ mueble.nombre }}</strong></span>
                            </div>
                        </div>
                    </ng-template>
                </p-orderList>
            </div>     
        </div>
    </div>
    <div>
        <p-steps [model]="parametrosSteps" [readonly]="true" [activeIndex]="activeIndex" [style]="{'margin-top': '5%'}"></p-steps>
        <div class="botonesAtrasSiguiente">
            <p-button (click)="activeIndex = (activeIndex > 0) ? activeIndex - 1 : activeIndex" label="Atrás" [text]="true" [raised]="true" severity="danger" [rounded]="true" [style]="{'cursor': 'pointer', 'min-width': '200px', 'min-height': '80px', 'color': 'rgb(195, 8, 8)'}" [disabled]="activeIndex === 0"></p-button>
            <p-button (click)="botonSiguiente()" [text]="true" [raised]="true" severity="danger" [rounded]="true" [style]="{'cursor': 'pointer', 'min-width': '200px', 'min-height': '80px', 'justify-content': 'center', 'color': 'rgb(195, 8, 8)'}"
            [label]="(activeIndex === 3) ? contenidoBotonCrearEditarTienda: 'Siguiente'"></p-button>
        </div>
    </div>
</p-dialog>