<div class="flex">
  <div class="flex-1 m-2">
    <div *ngIf="imagen != null" class="flex flex-wrap" style="width: 100%">
      <div>
        <p-image class="flex m-2" 
          [src]="imagen" 

          [preview]="true"></p-image>
      </div>
    </div>

  </div>

  <!-- <p-button severity="danger" [text]="true" [raised]="true" (onClick)="showExpositores(2)" label="Asignar Elemento" ></p-button>
        <p-button severity="danger" class="ml-2" [text]="true" [raised]="true" (onClick)="createExpositores(2)" label="Crear Elemento" ></p-button> -->


  <div class="flex-1 m-2">
    <p-toolbar>

      <div class="p-toolbar-group-start">
        <span class="p-input-icon-left" style="margin-left: 20px">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="filterByNombre(filterNameValue)"
            [(ngModel)]="filterNameValue" placeholder="Filtrar por nombre" />
        </span>


        <p-dropdown class="ml-2" [options]="categorias_elementos" [(ngModel)]="categoriaSeleccionada"
          optionLabel="nombre" [showClear]="true" placeholder="Buscar por categoría"
          [style]="{'margin-left': '20px'}"></p-dropdown>
      </div>

      <div class="p-toolbar-group-end">
        <p-progressSpinner *ngIf="filtered_elementos.length == 0 || filtered_elementos.length == undefined"
          fill="var(--surface-ground)" [style]="{'width': '5%', 'height': '5%'}" animationDuration=".6s"
          class="fadein animation-duration-1000 "></p-progressSpinner>
      </div>
    </p-toolbar>

    <p-scrollPanel [style]="{ height: '47vh' }">
      <div *ngFor="let elemento of filtered_elementos" class="p-2 shadow-2 border-round mb-3">
        <div class="flex align-items-center gap-2" pDraggable="elemento"
          (onDragStart)="onDragStart($event, elemento)" (onDragEnd)="onDragEnd($event)">
          <img class="border-round" [src]="url_imagenes_referencias + elemento.imagenes.url"
            alt="{{elemento.imagenes.url}}" style="width: 64px; height: 64px; object-fit: cover;">
          <div class="flex flex-column flex-1 gap-1">
            <span class="font-bold">{{ elemento.nombre }}</span>
            <div class="flex align-items-center gap-1">
              <i class="pi pi-tag text-sm"></i>
              <span>{{ elemento.categorias_elementos.nombre }}</span>
            </div>
          </div>
        </div>
      </div>

    </p-scrollPanel>

  </div>
</div>
