/* Estilos para el contenedor del menubar */
.menubar-container {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
  }
  
  .p-menubar {
    width: 100%;
  }
  