<h2 class=" ml-2">Estadísticas de la aplicación <span class="ml-2 pi pi-chart-line text-3xl "></span></h2> 

<div class="menubar-container">
    <p-menubar [model]="apartados" >
        
    </p-menubar>
</div>

<div [ngSwitch]="apartado_seleccionado" >
    <app-estadisticas-auditoria *ngSwitchCase="'auditorias'"></app-estadisticas-auditoria>
    <app-estadisticas-tiendas *ngSwitchCase="'tiendas'"></app-estadisticas-tiendas>
    <app-estadisticas-muebles *ngSwitchCase="'muebles'"></app-estadisticas-muebles>
    <app-estadisticas-elementos *ngSwitchCase="'elementos'"></app-estadisticas-elementos>
    <app-estadisticas-uniformes *ngSwitchCase="'uniformes'"></app-estadisticas-uniformes>
    <app-estadisticas-ia *ngSwitchCase="'ia'"></app-estadisticas-ia>
    <div *ngSwitchDefault></div>
</div>