.paginaTiendaCompleta {
    display: grid;
    grid-template-rows: 15% 85%;
    height: 80vh; 
    width: 100vw;
}
.contenedorBotonNuevaTienda{
    display: flex;
    justify-content: center;
    align-items: center;
}
.filtro{
    display: flex;
    justify-content: end;
    margin-right: 1%;
}

.cabeceraAñadirTienda{
    display: grid;
    grid-template-columns: 20% 80% ;
    width: 97%;
    height: 80%;
    justify-content: center;
    align-items: center;
    border: 1px solid #dee2e6;
    background: #f8f9fa;
}
.botonNuevaTienda {
    width: 100%;
    height: 100%;
    min-height: 50px;
    max-height: 80px;
    font-size: 100%;
    display: flex;
    align-items: center;
}
.contenedorHistorialTiendas {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: start;
    align-items: center;
}
.botonVerTienda {
    width: 50%;
    height: 50%;
    min-height: 50px;
    max-height: 80px;
    margin-bottom: 2%;
    border: black solid 2px;
    background-color: rgba(210, 209, 209, 0.9);
    border-radius: 10px;
    font-size: 100%;
    color: black;
}
.formularioICIUG {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 2%;
}
.resumentNuevaTienda{
    display: grid;
    grid-template-columns:40% 60%;
    margin: 0;
}
.botonSiguienteAtras{
    margin-top: 5%;
    width: 20%;
    height: 50%;
    min-height: 50px;
    max-height: 80px;
}
.botonesAtrasSiguiente {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.contenedorMuebleArrastras{
    display: grid;
    grid-template-columns: 40% 60%;
}
.anchoAltoFotoReferencia {
    display: flex;
    justify-content: center;
    align-items: center;
}
.anchoAltoDescripcionFotoReferencia {
    display: flex;
    justify-content: center;
    align-items: center;
}
.letrasCaracteristicasMueble {
    display: flex;
    width: 100%;
    height: 100%;
}
.ajusteImagenesAnchoAlto {
    max-height: 80px; 
    max-width: 50px; 
    min-height: 50px;
}

.activarDesactivar{
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    justify-content: center;
}
::ng-deep .p-picklist-list{
    max-height: 300px;
}

::ng-deep .p-steps .p-steps-item.p-highlight .p-steps-number {
    background-color: #f70802a1;
    color: white;
}
::ng-deep .pi{
    cursor: pointer;
}

::ng-deep .p-orderlist .p-orderlist-controls .p-button {
    background: red;
    border: red;
}
::ng-deep .p-orderlist .p-orderlist-controls{
    display: none;
}

