.paginaTiendaCompleta {
    display: grid;
    grid-template-rows: 15% 85%;
    height: 80vh; 
    width: 100vw;
}
.contenedorBotonNuevaTienda{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabeceraAñadirTienda{
    display: grid;
    grid-template-columns: 20% 80% ;
    width: 97%;
    height: 80%;
    justify-content: center;
    align-items: center;
    border: 1px solid #dee2e6;
    background: #f8f9fa;
}
.botonNuevaTienda {
    width: 100%;
    height: 100%;
    min-height: 50px;
    max-height: 80px;
    font-size: 100%;
    display: flex;
    align-items: center;
}
.filtro{
    display: flex;
    justify-content: end;
    margin-right: 1%;
}

.contenedorHistorialTiendas {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: start;
    align-items: center;
}

/*PARAMETROS PARA PICKLIST DE EDITAR Y CREAR TIENDA*/
::ng-deep .p-picklist-list{
    max-height: 300px;
}

::ng-deep .p-steps .p-steps-item.p-highlight .p-steps-number {
    background-color: #f70802a1;
    color: white;
}
::ng-deep .pi{
    cursor: pointer;
}

::ng-deep .p-orderlist .p-orderlist-controls .p-button {
    background: red;
    border: red;
}
::ng-deep .p-orderlist .p-orderlist-controls{
    display: none;
}

::ng-deep .p-dialog .p-dialog-footer button{
    color: rgb(195, 8, 8);
    background-color: white;
    border: rgb(195, 8, 8);
}
::ng-deep .p-dialog .p-dialog-footer button:hover{
    background-color: rgba(255, 0, 0, 0.267);
}

