<div class="paginaTiendaCompleta">
    <div class="contenedorBotonNuevaTienda">
        <button class="botonNuevaTienda" (click)="crearNuevaTienda()">+</button>
        <p-dialog header="Nueva Tienda" [(visible)]="verFormularioNuevaTienda" [style]="{'width': '50vw'}">
            <div class="formulario" *ngIf="activeIndex === 0">
                <p><strong>Nuevo sfid:</strong></p>
                <input type="text" pInputText [(ngModel)]="sfidInput" />
                <p><strong>Comunidad:</strong></p>
                <input type="text" pInputText [(ngModel)]="comunidadInput" />
            </div>
            <div class="formulario" *ngIf="activeIndex === 1">
                <p-pickList [source]="listaTodosMuebles" [target]="lista2">
                    <ng-template>
                        
                    </ng-template>
                </p-pickList>
            </div>
            <p-steps [model]="parametrosSteps" [readonly]="false" [activeIndex]="activeIndex" [style]="{'margin-top': '5%'}"></p-steps>
            <div class="botonesAtrasSiguiente">
                <button ngClass="botonSiguienteAtras" (click)="botonAtras()" [disabled]="botonAtrasDeshabilitado">Atrás</button>
                <button ngClass="botonSiguienteAtras" (click)="botonSiguiente()">{{contenidoBotonSiguiente}}</button>
            </div>
        </p-dialog>
    </div>
    <div class="contenedorHistorialTiendas">
        <button *ngFor="let tienda of tiendas" class="botonVerTienda">
            {{ tienda.sfid }}
        </button>
    </div>
</div>
<p-toast></p-toast>