<div class="paginaCompleta">
  <p-toast></p-toast>
  <div class="floatintPanel" *ngIf="this.auditoria_seleccionada.id !== 0">
    <app-progreso-auditoria #progresoRef></app-progreso-auditoria>
  </div>    
  <div *ngFor="let mueble of this.muebles" class="divPanelCompleto">
    <p-panel class="contornoPanel">
      <ng-template pTemplate="header">
        <div class="cabeceraTabla" >
          Mueble {{mueble.nombre !== undefined ? ' - ' + mueble.nombre : mueble.id}}
          <p-progressSpinner *ngIf="mueble.elementos[0] != undefined? cargas_procesamiento[mueble.elementos[0].id]: false" 
          class="spinner" strokeWidth="6" fill="var(--surface-ground)" animationDuration=".6s"
          [style]="{'width': '30px', 'height': '30px'}"></p-progressSpinner> 
        </div>
      </ng-template>
      <div class="panelDerechaIzquierda" *ngIf="mueble.elementos != undefined">
        <div class="panelIzquierda">
          <div [ngClass]="{'anchoAltoFotoReferenciaDosImagenes': mueble.elementos.length === 2, 'anchoAltoFotoReferenciaUnElemento': mueble.elementos.length === 1}">
            <div *ngFor=" let elemento of mueble.elementos">
              <p-image [src]="url_imagenes + elemento.imagenes.url" [alt]="elemento.imagenes.url" [preview]="true" [imageStyle]="{'width': '100%'}" [style]="{'width': '90%', 'height':'100%'}"></p-image>
            </div>
          </div>
        </div>
        <div class="panelDerecha">
          <!--
          <div *ngFor=" let elemento of mueble.elementos" [style]="{'width': '100%', 'height':'100%'}">              
            <app-paginador-procesamiento-subida 
              class="anchoAltoPaginador"  
              [estado_auditoria]="this.auditoria_seleccionada.estados_auditoria.estado"               
              [procesados]="elemento.procesados_imagenes" 
              [cargando_procesamiento]="cargas_procesamiento[elemento.id]"
              [valueSelected]="modos_visualizacion[elemento.id] === 'historial'? 'historial':'new'"
              (archivoSeleccionadoChange)="procesarImagen($event, elemento.id, mueble.id)">
            </app-paginador-procesamiento-subida>            
          </div>
        -->
        </div>
      </div>
    </p-panel>
  </div>
</div>